@charset "UTF-8";
var {
    --background-color: #f0f0f0;
    --background-color2: #f0f0f0;
    --font-color: #0f0f0f;
    --font-color2: #0f0f0f;
}
/*GERAIS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: century Gothic;
    font-size: 100%;
    text-decoration: none;
    list-style: none;
    transition: .3s;
}

html {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

a {
    color: #f0f0f0;
    text-decoration: none;
}

a.dark {
    color: var(--font-color);
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;   
}

a.button {
    color: #f0f0f0;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

a.button:hover {
    color: #21b9f5;
}

a.buttonfalse {
    color: var(--font-color);
    cursor: pointer;
}

a.buttonfalse:hover {
    color: #21b9f5;
}

.sumi {
    display: initial;
}

h1 {
    font-size: 25pt;
}

i {
    color: #21b9f5;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: #0f0f0f;
}

::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: #21b9f5;
}


.switch {
    position: relative;
    display: inline-block;
    width: 37px;
    height: 21px;
}
  

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #CCCCCC;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 4px;
    background-color: #f0f0f0;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #21b9f5;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #21b9f5;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}
  
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

/*HEADER*/

#btn-mobile {
    display: none;
}

#header {
    display: flex;
    position: sticky;
    top: 0;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #0f0f0f;
    color: #f0f0f0;
    z-index: 10000;
}

#nav {
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: space-around;
    color: #f0f0f0;
}

#header h1:hover {
    cursor: pointer;
    transform: scale(1.05);
    color: #21b9f5;
}

#nav ul {
    display: flex;
    width: 300px;
    justify-content: space-between;
    color: #f0f0f099;
}

#nav li a:hover {
    cursor: pointer;
    color: #21b9f5;
}

/*MAIN*/

#fetec {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100vw;
    height: 90vh;
    overflow: hidden;
}

#inline {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#fet {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    gap: 10px;
    position: absolute;
    max-width: 50vw;
    margin-left: 10vw;
    background-color: var(--background-color);
    color: var(--font-color);
}

img#bgfetec {
    min-height: 100vh;
    min-width: 100vw;
}

#fetec a.button {
    background-color: #0f0f0f;
}

#fetec a img:hover {
    box-shadow: 0px 0px 5px #21b9f5;
}

#bot {
    display: flex;
    justify-content: center;
    width: 100vw;
    position: absolute;
    bottom: 0px;
}

#bot button {
    background: none;
    border: none;
}

#bot button i {
    color: #f0f0f0;
    font-size: 30px;
}

#bot button i:hover {
    color: #21b9f5;
    font-size: 30px;
}

/*ETEC*/

#et {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40vw;
}

#etec a.button {
    background-color: #0f0f0f;
}

#etec {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 5vh 0;
    width: 100vw;
    min-height: 80vh;
    background-color: var(--background-color);
    color: var(--font-color);  
}

#fotoetec {
    border-radius: 5000px;
    width: 50vw;
}

img:hover {
    box-shadow: 0px 0px 5px #21b9f5;
}

#informatica {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
    padding: 10px 0;
    background: #0f0f0f;
    color: #f0f0f0;
}

.iframe { 
    width: 560px;
    height: 315px;
    border-radius: 5px;
}

.iframe:hover {
    box-shadow: 0px 0px 10px #21b9f5;
}

#texto {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40vw;
}

.exposicoes {
    display: flex;
    min-height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
    align-items: center;
    background-color: var(--background-color);
    color: var(--font-color);
}

.exposicoes#d {
    background-color: var(--background-color);
    color: var(--font-color);
}

.exposicoes .div {
    display: flex;
    justify-content: space-between;
    width: 75vw;
    gap: 20px;
    flex-wrap: wrap;
}

.ger {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

a.button {
    background-color: #0f0f0f;
    z-index: 1;
}

.ne {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 20vw;
    height: 35vh;
}

.ne p {
    z-index: 1;
}

.ne img {
    width: 20vw;
}

/*pages*/

#guitar {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
    color: var(--font-color);
    align-items: center;
    justify-content: space-around;
}

#esquerda {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 40vw;
}

#esquerda a.button {
    width: 10vw;
    text-align: center;
}

#guitar iframe {
    border-radius: 10px;
    border: 2px solid var(--font-color);
}

.exposicoes#espaco {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5vw;
    color: #f0f0f0;
    background-color: #0f0f0f;
}

.exposicoe#espaco {
    background-color: #0f0f0f;
    color: #f0f0f0;
}

.exposicoe#espaco .expo {
    align-items: center;
    justify-content: center;
    width: 20vw;
    gap: 10px;
    border: 2px solid #f0f0f0;
}

.exposicoe#espaco a.button:hover i {
    color: #0f0f0f;
}

.apresentacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
    gap: 5vh;
    padding-top: 5vh;
    width: 100vw;
    height: 100vh;
    color: #f0f0f0;
    background-color: #0f0f0f;
}

.apresentacao#app {
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    color: var(--font-color);
    background-color: var(--background-color);
}

.apresentacao#app {
    color: var(--font-color);
    background-color: var(--background-color);
}

.apresentacao#app #aa p {
    margin: 30px;
}


.apresentacao#app #mm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 30vw;
    flex-direction: column;
}

.apresentacao#app #mm a.button {
    width: 15vw;
}


.apresentacao#app img {
    width: 20vw;
    margin: 10px;
}

/*Cybertech-------------------------------------------*/

.p2 {
    color: #f0f0f0;
}

.apresentacao#appblue iframe {
    background-color: var(--font-color);
    width: 19.5vw;
    height: 78.8vh;
    margin: 0;
}

.apresentacao#appblue {
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    color: #f0f0f0;
    background-color: var(--font-color2);
}

.apresentacao#appblue #aa p {
    margin: 30px;
}


.apresentacao#appblue #mm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 30vw;
    flex-direction: column;
}

.apresentacao#appblue #mm a.button {
    width: 15vw;
}

.apresentacao#appblue img {
    width: 20vw;
    margin: 10px;
}

/*-------------------------------------------------------*/

.apresentacao img {
    width: 40vw;
    border-radius: 5px;
}

.apresentacao p {
    width: 40vw;
}

.expo {
    display: flex;
    padding: 5px;
    margin: 10px;
    border: 2px solid var(--font-color);
    color: var(--font-color);
    font-weight: 500;
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.expo a.button{
    color: #f0f0f0;
    background-color: #0f0f0f;
}

.expo a.button:hover{
    background-color: #21b9f5;
    color: #0f0f0f;
}

.expo img {
    width: 300px;
}

.exposicoe {
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    justify-content: space-around;
    align-items: center;
    background-color: var(--background-color);
}



.equipe {
    display: flex;
    width: 100vw;
    min-height: 80vh;
    background-color: #f0f0f0;
    align-items: center;
    justify-content: center;
    gap: 10vh;
}

.equipe#d {
    background-color: var(--background-color);
    color: var(--font-color);
}

.equipe#j {
    background-color: #0f0f0f;
    color: #f0f0f0;
}

.equipe .iframe {
    max-width: 80vw;
}

.flex {
    display: flex;
    width: 70vw;
    gap: 5vw;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tx {
    width: 400px;
}

.robotica#footer p:first-child {
    padding: 15px;
    padding-bottom: 0px;
    border-top: 1px solid #f0f0f0;
}

/*FOOTER*/

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    background-color: #0f0f0f;
    color: #f0f0f0;
    height: 100px;
    width: 100vw;
}

#footer a.button {
    z-index: 0;
    padding: 10px;
    border-radius: 0;
    border-top: 2px solid #f0f0f0;
}

@media (max-width:600px) {

    .sumi {
        display: none;
    }

    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }

    #hamburger {
        display: block;
        width: 20px;
        border-top: 2px solid;
        color: #f0f0f0;
        animation: fadeIn;
        animation-delay: 1s;
    }

    #hamburger::after, #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #nav.active #hamburger {
        border-top-color: transparent; 
    }

    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }
    
    #nav.active #hamburger::after {
        transform: rotate(-135deg);      
        top: -7px;  
    }

    #menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        padding: 15px;
        width: 100%;
        right: 0px;
        top: 85px;
        background-color: #0f0f0f;
        height: 0;
        visibility: hidden;
        overflow-y: hidden;
        transition: .6s;
        z-index: 1000;
    }
    
    #nav.active #menu {
        visibility: visible;
        overflow-y: auto;
        height: 20vh;
    }

    img#bgfetec {
        min-width: auto;
    }

    #fet {
        max-width: 80vw;
    }

    #et {
        width: 80vw;
    }

    img#fotoetec {
        display: none;
    }

    #informatica iframe { 
        width: 80vw;
        height: 315px;
    }

    #texto {
        width: 80vw;
    }

}
